<template>
  <iframe
    src="https://admon.dvmlhjywtyksl.amplifyapp.com/"
    frameborder="0"
    class="admin-container"
  ></iframe>
</template>

<script>
export default {
  name: "Admon",
};
</script>

<style scoped>
.admin-container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
</style>
