<template>
  <div class="home">
    <h1>KST</h1>
    <p class="home-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium magni
      molestiae veritatis alias corrupti animi molestias iusto non earum
      consequuntur quibusdam ipsum, debitis eaque ipsa, quod architecto in
      laboriosam quidem.
    </p>
    <router-link to="/user">
      <div class="btn">user</div>
    </router-link>
    <router-link to="/admon">
      <div class="btn">admon</div>
    </router-link>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style>
a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 100px;
}

.home-text {
  width: calc(100vw * 0.6);
}

.btn {
  border: 1px solid tomato;
  width: 250px;
  padding: 10px 5px;
  border-radius: 5px;
}
</style>
