<template>
  <iframe
    src="https://users-dev.d2jdlvg8esebls.amplifyapp.com/"
    frameborder="0"
    class="user-container"
  ></iframe>
</template>

<script>
export default {
  name: "User",
};
</script>

<style scoped>
.user-container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
</style>
